* 
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body
{
    background-color:aquamarine;
}

.header
{
    background-color: white;
    text-align: center;
}

.aboveHeader
{
    text-align: right;
}