body
{
    background-color: blue;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

.header
{
    background-color: blue;
    text-align: center;
}

.aboveHeader
{
    text-align: left;
}

.element_center
{
    margin-left: auto;
    margin-right: auto;
}

.text_alignCenter
{
    text-align: center;
}

.text_alignLeft
{
    text-align: left;
}

.text_alignRight
{
    text-align: right;
}

/* Form */
form  
{ 
    display: table;   
}
p.form
{ 
    display: table-row;
}
p.heading
{
    column-span: all;
}

input[type=number]
{ 
    display: table-cell; 
    margin: 4px 0;    
}

input.output
{
    border: none;
    background: transparent;
}

.font_smaller
{
    font-size: smaller;
}

p.subHeading
{
    background-color:darkgray;
}

#heading
{
    background-color:darkgray;
}

#textarea_label
{
    vertical-align: top;
}
