body
{
    background-color:aquamarine;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

.header
{
    background-color: white;
    text-align: center;
}

.aboveHeader
{
    text-align: left;
}

.payeDoc
{
    text-align: center;
}

.element_center
{
    margin-left: auto;
    margin-right: auto;
}

.text_alignCenter
{
    text-align: center;
}

.text_alignLeft
{
    text-align: left;
}

.text_alignRight
{
    text-align: right;
}

/* Form */
form  
{ 
    display: table;   
}
p.form
{ 
    display: table-row;
}
p.heading
{
    column-span: all;
}

input[type=number]
{ 
    display: table-cell; 
    margin: 4px 0;    
}

